* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  text-transform: capitalize;
}
body {
  margin: 0 10%;
}
/* Global Style */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #01549b;
}
.logo {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
nav ul li {
  display: inline;
}
nav ul li a {
  color: #01549b;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}
nav ul li a:hover {
  color: #93dfff;
}
footer {
  text-align: center;
  padding: 20px;
  color: #01549b;
  bottom: 0;
  width: 100%;
  margin-top: 50px;
}
footer p {
  margin: 0;
  font-size: 0.9rem;
}
button {
  padding: 10px 20px;
  color: aliceblue;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  background-color: #01549b;
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover {
  background-color: #93dfff;
  color: #01549b;
}
span {
  padding: 10px 20px;
  background-color: #93dfff;
  border-radius: 10px;
  font-weight: 400;
  font-size: 14px;
  color: #01549b;
}
a {
  text-decoration: none;
  color: #000000;
}
.card-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(212, 212, 212, 0.5);
  border-radius: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-product:hover {
  transform: translateY(-10px);
  box-shadow: 0px 4px 10px rgba(0, 140, 255, 0.5);
}
.card-product img {
  max-width: 150px;
}
.card-product h3,
.card-product p {
  margin: 5px;
}
.card-product i {
  color: #fbbc04;
}
.about-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 20px;
  min-height: 70vh;
}
.about-section .about-section-text ul {
  font-weight: 600;
  line-height: 35px;
}
/* Index Style */
.hero-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px;
  min-height: 70vh;
}
.hero-banner .hero-text {
  width: 50%;
}
.hero-banner img {
  transform: scaleX(-1);
  width: 500px;
}
.feature {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
}
.feature .feature-item {
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 140, 255, 0.5);
  width: 100%;
  padding: 20px;
  gap: 10px;
  border-radius: 20px;
}
.feature .feature-item i {
  font-size: 24px;
  color: #01549b;
}
.feature-product {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
}
.feature-product .feature-product-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.cta-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 20px;
  min-height: 40vh;
  background-color: #93dfff;
  border-radius: 20px;
}
/* Profile Style*/
.profile-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
}
.profile-section .maps {
  width: 100%;
}
.profile-section .video {
  width: 100%;
}
/* Product Style*/
.category {
  margin: 50px 0;
}
.category ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.category ul li {
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(212, 212, 212, 0.5);
  list-style: none;
  padding: 10px 20px;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.category ul li:hover {
  background-color: #01549b;
  color: #ffffff;
  cursor: pointer;
}
#baju {
  background-color: #01549b;
  color: #ffffff;
}
.product-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
/* Saran Style*/
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
form .name {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
form .name .first-name {
  display: flex;
  flex-direction: column;
  width: 100%;
}
form .name .last-name {
  display: flex;
  flex-direction: column;
  width: 100%;
}
form .email {
  display: flex;
  flex-direction: column;
}
form .phone {
  display: flex;
  flex-direction: column;
}
form .category-f {
  display: flex;
  flex-direction: column;
}
form .field-saran {
  display: flex;
  flex-direction: column;
}
form .file {
  display: flex;
  flex-direction: column;
}
input {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
}
select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
select:focus,
textarea:focus {
  border: 2px solid #ccc;
  outline: none;
}
/* Detail Product Style */
.product {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
}
.product .image-product {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.product .image-product .item-image {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}
.product .image-product .item-image img {
  width: calc(25% - 10px);
  object-fit: cover;
  cursor: pointer;
  border: solid 1px #e4e4e4;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.product .image-product .item-image img:hover {
  transform: translateY(-10px);
  box-shadow: 0px 4px 10px rgba(0, 140, 255, 0.5);
}
.product .content-product {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.product .content-product i {
  color: #fbbc04;
}
.product .content-product h2,
.product .content-product h3,
.product .content-product p {
  margin: 10px 0;
}
.color {
  display: flex;
  gap: 20px;
  cursor: pointer;
}
.color div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.black {
  background-color: black;
}
.white {
  background-color: white;
  border: 1px solid #e4e4e4;
}
.blue {
  background-color: blue;
}
.spesifikasi-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 50px;
}
.spesifikasi-table th {
  background-color: #e4e4e4;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}
.spesifikasi-table td {
  border: 1px solid #e4e4e4;
  padding: 8px;
  text-align: left;
}
.spesifikasi-table th,
.spesifikasi-table td {
  border: 1px solid #e4e4e4;
}
.spesifikasi-table tbody tr td:first-child {
  font-weight: bold;
}

@media screen and (max-width: 900px) {
  body {
    margin: 0 5%;
  }
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  nav ul {
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin: 0;
  }
  .hero-banner {
    flex-direction: column;
  }
  .hero-banner img {
    width: 50%;
  }
  .hero-banner .hero-text {
    width: 100%;
    text-align: center;
  }
  .feature {
    flex-direction: column;
  }
  .feature .feature-item {
    width: 100%;
  }
  .feature-product .feature-product-item {
    grid-template-columns: repeat(2, 1fr);
  }
  .about-section {
    flex-direction: column;
    text-align: center;
  }
  .about-section img {
    width: 50%;
  }
  .cta-section {
    margin-top: 20px;
  }
  .profile-section {
    flex-direction: column;
    align-items: center;
  }
  .profile-section .maps,
  .profile-section .video {
    width: 100%;
  }
  .category ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 0px;
  }
  .product-section {
    grid-template-columns: repeat(2, 1fr);
  }
  form .name {
    flex-direction: column;
  }
  .product {
    flex-direction: column;
    gap: 10px;
  }
  .product .image-product,
  .product .content-product {
    width: 100%;
  }
  .product .image-product .item-image img {
    width: calc(20% - 5px);
  }
}

@media screen and (max-width: 480px) {
  body {
    margin: 0 2%;
  }
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  nav ul {
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin: 0;
  }
  .hero-banner {
    flex-direction: column;
  }
  .hero-banner img {
    width: 100%;
  }
  .hero-banner .hero-text {
    width: 100%;
  }
  .feature {
    flex-direction: column;
  }
  .feature .feature-item {
    width: 100%;
  }
  .feature-product .feature-product-item {
    grid-template-columns: 1fr;
  }
  .about-section {
    flex-direction: column;
  }
  .profile-section {
    flex-direction: column;
    align-items: center;
  }
  .profile-section .maps,
  .profile-section .video {
    width: 100%;
  }
  .category ul {
    flex-direction: column;
    gap: 5px;
  }
  .product-section {
    grid-template-columns: 1fr;
  }
  form .name {
    flex-direction: column;
  }
  form .name .first-name,
  form .name .last-name {
    width: 100%;
  }
  .product {
    flex-direction: column;
    gap: 10px;
  }
  .product .image-product,
  .product .content-product {
    width: 100%;
  }
}
